* {
    /* font-family: sans-serif; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* font-family: 'Bungee Inline', cursive;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Finger Paint', cursive;
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Rye', cursive;
    font-family: 'Vast Shadow', cursive; */


}

h1{
    font-family: 'Finger Paint', cursive;
}

h2,p,a,button{
    font-family: 'Reenie Beanie', cursive;
    font-size: xx-large;
    word-wrap: break-word;

}


html,
body {
    height: 100vh;
    height: -webkit-fill-available;

}

#title {
    width: 100vw;
    height: 10vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 10px;
}

#canvasWrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;

}

.draggable {
    position: absolute;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1px 1px 3px white);
    display: block;
    user-select: none;
    margin: 0;
}

img.draggable {
    width: 20%;
}

#canvas {
    position: absolute;

    /* 
    width: 95vw;
    height: 70vh; */
    /* border: 1pt red dotted; */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;


}


#selections {
    width: 100%;
    height: 5vh;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;

}

#selections>button,
#bgSelections>button {
    height: 5vh;
    width: 100%;
    background-color: transparent;
    border: 5px solid #88c;

}

#choices {
    width: 95vw;
    padding: 0 2.5vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

#choices>button {
    height: 5vh;
    width: 100%;
}


#bgSelections {
    height: 5vh;
    width: 100%;
    position: relative;


}

#bg {
    width: 100%;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {

    h1{
        font-size: x-large;
    }
    h2,p,a,button{
        font-size: large;
    }
        
}