* {
    /* font-family: sans-serif; */
    margin: 0;
    padding: 0;

    font-family: 'Bungee Inline', cursive;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Finger Paint', cursive;
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Rye', cursive;
    font-family: 'Vast Shadow', cursive;
    max-height: 100vh;
    max-width: 100vw;

}

h1 {
    font-family: 'Finger Paint', cursive;
}

h2,
p,
a,
button {
    font-family: 'Reenie Beanie', cursive;
    font-size: xx-large;
    word-wrap: break-word;

}

#app,
#app img,
input {
    overflow: visible;

}

html,
body {
    /* max-height: 100vh;
   max-width: 100vw;
    height: -webkit-fill-available; */
    height: -webkit-fill-available;

    overflow: hidden;
}


#title {
    padding: 0 2.5vw;
    width: 95vw;
    height: 50px;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 5px 0;

}

h1,
a {
    font-size: large;
}

#canvasWrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    overflow: visible;


}

.draggable {
    position: absolute;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1px 1px 3px white);
    display: block;
    user-select: none;
    margin: 0;
    overflow: visible;
}

img.draggable {
    width: 20%;
    overflow: visible;
}

#canvas {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    overflow: visible;


}

#postCol {

    top: 10vh;
    left: 0;
    right: 0;
    display: none;
    bottom: 10vh;
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-area: center;
    /* justify-content: center;
    align-content: center;
    align-items: center; */
    /* position: relative; */
    position: absolute;
    width: 100%;
    min-height: 80vh;
    grid-area: auto;
    overflow-y: scroll;
    overflow: touch;
    /* -webkit-overflow-scrolling: touch; */

}

#postCol>div {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    /* opacity: 0.5; */
    height: auto;
    align-content: center;
    align-items: center;
    border-bottom: dotted black 2pt;
    color: black;
    /* cursor: pointer; */

}

#postCol>div img {
    /* grid-area: 1 / 1 / 4 / 4; */
    grid-area: auto;
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: auto 0;
    align-self: center;
    /* vertical centering */
    align-items: center;
    /* vertical centering */
    cursor: pointer;

}

#postCol>div p {
    cursor: pointer;
}




#topSel {
    padding: 0 2.5vw;
    width: 95vw;
    height: 5vh;
    top: 50px;
    position: fixed;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    z-index: 10;

}

button>img {
    width: 40px;
    height: 40px;
    cursor: pointer;

}

#selections {
    padding: 0 2.5vw;
    width: 95vw;
    height: 5vh;
    position: fixed;
    background-color: transparent;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    z-index: 10;

}

#selections>button {
    width: 100%;
}

#selections>button,
#topSel>button,
#bgSelections>button {
    border-style: none;
    height: 5vh;
    background-color: transparent;
    /* border: 5px solid #88c; */

}

#bgSelections>input {
    display: none;
}

#choices {
    width: 95vw;
    padding: 0 2.5vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

#choices>button {
    height: 5vh;
    width: 100%;
}


#bgSelections {
    height: 5vh;
    width: 100%;
    position: relative;


}

#bg {
    width: 100%;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {

    h1 {
        font-size: medium;
    }

    h2,
    p,
    a,
    button {
        font-size: large;
    }

    button>img {
        width: 25px;
        height: 25px;
    }

    #postCol {
        /* top: 100px; */
    }
}